html {
    width: 100%;
    height: 100%;
}

/*Body*/

body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}

/*Main*/

.main {
    width: 100%;
    height: 100%;
}
.main_menu .new_game {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 15px;
}


/*Dice*/

.dice_button {
    padding: 0;
    border: none;
    background: none;
}
.dice_img{
    width: 64px;
    height: 64px;
    background: white;
    border-radius: 9px;
}
.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0%{
        transform: rotate(8deg);
    }
    50%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(8deg);
    }
}

/*Game container */

.game_container {
    height: 100%;
    width: 100%;
}
.columns {
    margin: 0;
}
.game_container .player_one {
    background-color: #ECF0F1;
}
.game_container .player_two {
    background-color: #BDC3C7;
}
.play {
    padding-top: 100px;
    text-align: center;
}
.game_container .play .player_name {
    height: 64px;
}
.game_container .play .temporary_score {
    height: 64px;
}
.game_container .play .current_score {
    height: 64px;
}

/*Buttons*/

.button{
    letter-spacing: 1px;
}
.play_dice {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 15%;
}
.play_roll {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
}
.play_hold {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 35%;
}

/*Footer*/

.footer {
    text-align: center;
    padding: 10px;
}